<div class="sidebox">
    <h3>{{ _('Filter Submissions') }} <i style="color: black" class="fa fa-search"></i></h3>
    <div class="sidebox-content">
        <form id="filter-form" name="form" action="" method="get">

            {% if countries %}
            <div class="filter-form-group">
                <label class="filter-title" style="padding:10px 0px;" for="category"><i>{{ _('Country') }}</i></label>
                <select id="country" name="country">
                    {% if country %}
                        <option value="" selected="selected">{{ _('All') }}</option>
                    {% else %}
                        <option value="">{{ _('All') }}</option>{% endif %}
                    {% for c in countries %}
                        <option value="{{ c.code }}"{% if c.code == country %} selected{% endif %}>
                            {{ c.name }}
                        </option>
                    {% endfor %}
                </select>
            </div>
            {% endif %}

            <div class="filter-form-group">
                <label class="filter-title" style="padding:10px 0px;" for="status"><i>{{ _('Status') }}</i></label>
                <select id="status" name="status" multiple>
                    {% for id, name in all_statuses %}
                        <option {% if id in selected_statuses %}selected{% endif %}
                                value="{{ id }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="filter-form-group">
                <label class="filter-title" style="padding:10px 0px;" for="language"><i>{{ _('Language') }}</i></label>
                <select id="language" name="language" multiple>
                    {% for code, name in all_languages %}
                        <option {% if code in selected_languages %}selected{% endif %}
                                value="{{ code }}">{{ name }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-submit-group">
                <a id="go" onclick="form.submit()" class="button">{{ _('Go') }}</a>
            </div>
        </form>
    </div>
</div>