.AB {
    background-color: #CCC;
    color: #0000008c;
}

.AC {
    background-color: #27AE60;
    color: #0000008c;
}

._AC {
    background-color: #dfff00;
    color: #0000008c;
}

.WA {
    background-color: #CCC;
    color: #0000008c;
}

.TLE, .MLE {
    background-color: #CCC;
    color: #0000008c;
}

.OLE, .IR, .RTE, .OTH {
    background-color: #FAB623;
    color: #0000008c;
}

.CE {
    background-color: #CCC;
    color: #0000008c;
}

.IE {
    background-color: #ff0000;
    color: #0000008c;
}

.QU, .G {
    background: white;
    color: #0000008c;
}
