{% extends "common-content-blank.html" %}
{% block content_media %}
    {% include "comments/media-css.html" %}
    <style>
        .title-state {
            font-size: 2em;
            float: left;
            width: 1.1em;
            display: block;
            margin-top: 0.16em;
        }

        .info-float a {
            vertical-align: middle;
        }

        .problem-clarification {
            border-bottom: 1px solid #ccc;
            margin-top: 1em;
            margin-bottom: 1em;
        }

        .clarifications-area h2 {
            margin-bottom: 20px;
        }

        .problem-clarification .body {
            display: inline-block;
            padding-left: 3em;
        }

        #content-right {
            max-width: 12.5em;
            min-width: 12.5em;
        }

        #problem-types, #allowed-langs, #available-judges {
            padding-top: 1em;
        }

        .problem-info-entry {
            padding-top: 0.5em;
        }

        #content-left {
            background: white;
        }
        .page-title {
            background: #F2F2F2;
        }
        .content-description>div {
            padding: 40px;
        }
        .content-description>a {
            margin-top: 20px;
            margin-right: 20px;
        }
        .clarifications-area {
            margin-top: 40px;
        }
        .text-muted {
            color: #828282;
        }

    </style>
{% endblock %}

{% block content_js_media %}
    {% include "comments/media-js.html" %}
{% endblock %}



{% block title_row %}

    <style>

        table {
            width: 100%;
            border-collapse: collapse;
        }
        tr {
            padding: 10px 0px;
            border-bottom: 1px solid #EEE;
        }
        th {
            padding: 20px 0px;
        }
        td {
            padding: 10px 0px;
            vertical-align: inherit!important;
        }
        thead {
            text-align: left;
            color: #797979;
        }
        .user-col a {
            display: flex;
            flex-direction: column;
            text-decoration: none;
            color: black;
        }
        .status-col {
            display: flex;
            flex-direction: column;
            padding-left: -10px;
            padding-right: 10px;
        }
        .action-col a {
            text-decoration: none;
            color: #27AE60;
        }
        .align-center {
            text-align: center;
        }
        .align-right {
            text-align: right;
        }
        .simple-submission-filter {
            display: flex;
        }
        .filter-option {
            color: #27AE60;
            cursor: pointer;
            padding: 5px 10px;
        }
        .filter-option.selected {
            font-weight: bold;
        }


    </style>

<div class="own-submissions">

    {% if request.user.is_authenticated %}
        {% if my_submissions %}
            <table style="background: white;">
                <thead>
                    <tr>
                        <div>
                            <th style="padding: 0 10px" class="">#</th>
                            <th>{{ _('Submitted On') }}</th>
                            <th class="align-center">{{ _('Language') }}</th>
                            <th class="align-center">{{ _('Memory Used') }}</th>
                            <th class="align-center">{{ _('Execution Time') }}</th>
                            <th class="align-right">{{ _('Score') }}</th>
                            <th class="align-right">{{ _('Status') }}</th>
                            <th style="padding: 0 10px" class="align-right"></th>
                        </div>
                    </tr>
                </thead>
                <tbody>
                    {% for submission in my_submissions %}
                        {% set can_view = submission_layout(submission, profile_id, request.user, completed_problem_ids, editable_problem_ids, tester_problem_ids) %}
                        <tr class="submission-entry own-submission">
                            <td style="padding: 0 10px"><a href="{{ url('submission_status', submission.id) }}">{{submission.id}}</a></td>
                            <td class="user-col">
                                <a href="{{ url('submission_status', submission.id) }}">
                                    <div><b>{{submission.date}}</b></div>
                                    <small>{{ relative_time(submission.date) }}</small>
                                </a>
                            </td>
                            <td class="align-center"><a style="color: black" href="/problems/?language={{submission.language.id}}">{{ submission.language }}</a></td>
                            <td class="align-center">
                                {{ (submission.memory_bytes|filesizeformat(True)).replace('i', '') }}
                            </td>
                            <td class="align-center">
                                {{ (submission.time or 0)|floatformat(2) }}s
                            </td>
                            <td class="status-col align-right {{ submission.result_class }}">
                                <b>{{submission.case_points}} / {{submission.case_total}}</b>
                                <small>{{ submission.long_status }}</small>
                            </td>
                            <td class="align-right">
                                {{ submission.get_status_display() }}
                            </td>
                            <td style="padding: 0 10px" class="action-col align-right">

                                {% if can_view %}
                                        <a href="{{ url('submission_status', submission.id) }}" data-toggle="tooltip" data-placement="top" title="View">
                                            <i class="fa fa-eye fa-fw"></i>
                                        </a>
                                        {% if perms.judge.rejudge_submission %}
                                        <a href="#" onclick="rejudge_submission({{ submission.id }}, event);return false" data-toggle="tooltip" data-placement="top" title="Rejudge">
                                            <i class="fa fa-refresh fa-fw"></i>
                                        </a>
                                        {% endif %}
                                        {% if perms.judge.change_submission %}
                                        <a href="{{ url('admin:judge_submission_change', submission.id) }}" data-toggle="tooltip" data-placement="top" title="Admin">
                                            <i class="fa fa-cog fa-fw"></i>
                                        </a>
                                        {% endif %}
                                {% endif %}

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="8" style="text-align: right; padding: 10px">
                            <a style="color: #27AE60; font-weight: bold" href="{{ url('user_submissions', problem.code, request.user.username) }}">{{ _('Check All Submissions') }}</a>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <br>
        {% endif %}
    {% endif %}

</div>
{% endblock %}

{% block info_float %}

    {% if request.user.is_authenticated and not request.profile.mute %}
        <a style="margin-top:30px;" href="{{ url('new_problem_ticket', problem.code) }}" class="unselectable button full">
            {%- if contest_problem and contest_problem.contest.use_clarifications and request.profile.current_contest.live -%}
                {{ _('Request clarification') }}
            {%- else -%}
                {{ _('Report an issue') }}
            {%- endif -%}
        </a>
    {% endif %}

    <hr style="padding-bottom: 0.3em">

    {% if request.user.is_authenticated and has_submissions %}
        <div>
            <a href="{{ url('user_submissions', problem.code, request.user.username) }}">{{ _('My submissions') }}</a>
        </div>
    {% endif %}
    <div><a href="{{ url('chronological_submissions', problem.code) }}">{{ _('All submissions') }}</a></div>
    <div><a href="{{ url('ranked_submissions', problem.code) }}">{{ _('Best submissions') }}</a></div>
    {% if can_edit_problem %}
        <hr>
        <div>
            <a href="{{ url('problem_ticket_list', problem.code) }}">{{ _('Manage tickets') }}
                {% if num_open_tickets %}<span class="badge">{{ num_open_tickets }}</span>{% endif %}
            </a>
        </div>
        <div><a href="{{ url('admin:judge_problem_change', problem.id) }}">{{ _('Edit problem') }}</a></div>
        {% if not problem.is_manually_managed %}
            <div><a href="{{ url('problem_data', problem.code) }}">{{ _('Edit test data') }}</a></div>
        {% endif %}
    {% elif request.user.is_authenticated and has_tickets %}
        <hr>
        <div>
            <a href="{{ url('problem_ticket_list', problem.code) }}">{{ _('My tickets') }}
                {% if num_open_tickets %}<span class="badge">{{ num_open_tickets }}</span>{% endif %}
            </a>
        </div>
    {% endif %}

    {% if problem.is_subs_manageable_by(request.user) %}
        <div>
            <a href="{{ url('problem_manage_submissions', problem.code) }}">{{ _('Manage submissions') }}</a>
        </div>
    {% endif %}

    {% if perms.judge.clone_problem %}
        <div>
            <a href="{{ url('problem_clone', problem.code) }}">{{ _('Clone problem') }}</a>
        </div>
    {% endif %}

    <hr style="padding-top: 0.3em">

    <div class="problem-info-entry">
        <i class="fa fa-check fa-fw"></i><span class="pi-name">{{ _('Points:') }}</span>
        <span class="pi-value">
            {% if contest_problem %}
                {{ contest_problem.points }}{% if contest_problem.partial %} {{ _('(partial)') }}{% endif %}
            {% else %}
                {{ problem.points|floatformat }}{% if problem.partial %} {{ _('(partial)') }}{% endif %}
            {% endif %}
        </span>
    </div>
    <div class="problem-info-entry">
        <i class="fa fa-clock-o fa-fw"></i><span class="pi-name">{{ _('Time limit:') }}</span>
        <span class="pi-value">{{ problem.time_limit }}s</span>
    </div>
    <div class="problem-lang-limits">
        {% for name, limit in problem.language_time_limit %}
            <div class="lang-limit">
                <span class="lang-name">{{ name }}</span>
                <span class="lang-tl">{{ limit }}s</span>
            </div>
        {% endfor %}
    </div>
    <div class="problem-info-entry">
        <i class="fa fa-server fa-fw"></i><span class="pi-name">{{ _('Memory limit:') }}</span>
        <span class="pi-value">{{ problem.memory_limit|kbsimpleformat }}</span>
    </div>
    <div class="problem-lang-limits">
        {% for name, limit in problem.language_memory_limit %}
            <div class="lang-limit">
                <span class="lang-name">{{ name }}</span>
                <span class="lang-ml">{{ limit|kbsimpleformat }}</span>
            </div>
        {% endfor %}
    </div>

    <hr style="padding-top: 0.7em">

    {% cache 86400 'problem_authors' problem.id LANGUAGE_CODE %}
        {% with authors=problem.authors.all() %}
            {% if authors %}
                <div class="problem-info-entry">
                    <i class="fa fa-pencil-square-o fa-fw"></i><span
                        class="pi-name">{% trans trimmed count=authors|length %}
                    Author:
                    {% pluralize count %}
                    Authors:
                {% endtrans %}</span>
                    <div class="pi-value authors-value">{{ link_users(authors) }}</div>
                </div>
            {% endif %}
        {% endwith %}
    {% endcache %}

    {% if not contest_problem or not contest_problem.contest.hide_problem_tags %}
        <div id="problem-types">
            {% with types=problem.types_list %}
                <div class="toggle closed unselectable">
                    <i class="fa fa-chevron-right fa-fw"></i>{% trans trimmed count=problem.types_list|length %}
                    Problem type
                    {% pluralize count %}
                    Problem types
                {% endtrans %}
                </div>
                <div style="display:none" class="toggled">{{ problem.types_list|join(", ") }}</div>
            {% endwith %}
        </div>
    {% endif %}
    {% if show_languages %}
        <div id="allowed-langs">
            <div class="toggle open unselectable">
                <i class="fa fa-chevron-right fa-fw"></i>{{ _('Allowed languages') }}
            </div>
            <div class="toggled">
                {% with usable=problem.usable_common_names, langs=problem.languages_list() %}
                    {% for lang in langs %}
                        {%- if lang in usable -%}
                            {{ lang }}
                        {%- else -%}
                            <s title="{{ _('No %(lang)s judge online', lang=lang) }}">{{ lang }}</s>
                        {%- endif -%}
                        {% if not loop.last %}, {% endif -%}
                    {% endfor %}
                {% endwith %}
            </div>
        </div>
    {% endif %}
    {% if problem.is_editable_by(request.user) %}
        <div id="available-judges">
            <i class="fa fa-database fa-fw"></i><span
                class="pi-name">{% trans trimmed count=available_judges|length %}
                Judge:
                {% pluralize count %}
                Judges:
            {% endtrans %}
            </span>
            <div class="pi-value judges-value">
                {% if available_judges %}
                    {% if perms.judge.change_judge %}
                        {% for judge in available_judges %}
                            <a href="{{ url('admin:judge_judge_change', judge.id) }}">{{ judge.name }}</a>
                            {%- if not loop.last %}, {% endif %}
                        {% endfor %}
                    {% else %}
                        {{ available_judges|join(", ") }}
                    {% endif %}
                {% else %}
                    <i>{{ _('none available') }}</i>
                {% endif %}
            </div>
        </div>
    {% endif %}
{% endblock %}

{% block description %}

    {% include 'problem/problems-tabs/main.html' %}
    {% include 'problem/problems-tabs/discussion.html' %}

    {% if perms.judge.edit_all_problem or perms.judge.edit_public_problem or perms.judge.edit_own_problem or (request.user.is_authenticated and has_submissions) %}
        {% include 'problem/problems-tabs/hints.html' %}
    {% endif %}

    {% if perms.judge.edit_all_problem or perms.judge.edit_public_problem or perms.judge.edit_own_problem or (request.user.is_authenticated and has_max_score) %}
        {% include 'problem/problems-tabs/source.html' %}
        {% include 'problem/problems-tabs/testcases.html' %}
    {% endif %}

    {% include 'problem/problems-tabs/submissions.html' %}



    <script>

        $(document).ready(function () {
            if (window.location.hash) {
                if (window.location.hash.includes('#comment')) {
                    changeTab('discussions')
                } else {
                    changeTab(window.location.hash.substring(1))
                }
            }
        });

        function changeTab(tab) {
          $('.tab-content').css('display', 'none');
          $('.tab').removeClass('active');
          $('#'+tab).css('display', 'block');
          $('#'+tab+'-tab').addClass('active');

          if(history.pushState) {
              history.pushState(null, null, '#' + tab);
          } else {
              location.hash = tab;
          }

        }
    </script>

{% endblock %}


{% block post_description_end %}

{% endblock %}

{% block comments %}
{% endblock %}

{% block bodyend %}
    {{ super() }}
    {% include "comments/math.html" %}
{% endblock %}
